<h1>voici en quelque peu votre description, selon l'enregistrement: </h1>
	<h2>
		<p>
			<div>
			<ul>
				 <li> Nom:   <%= @user.last_name %>    </li>
				 <li> Prenom : <%= @user.first_name %> </li>
				 <li> age: <%= @user.age %> ans     </li>
				 <li> email: <%= @user.email %>      </li>
				 <li> ville: <%= link_to @user.city.name, city_path(@user.city.id)%> </li>
				<li>  description : <%= @user.description %> </li>
			
			</ul>>

			</div> 

	</p>
</h2>